<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>
    Appointment
  </h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Description</th>
      <th>Vet</th>
      <th>Time</th>
    </tr>
    </thead>
    <tr>
      <td th:text=" ${visit.description}" /></td>
      <td
          th:text="${visit.vet.firstName + ' ' + visit.vet.lastName}" /></td>
      <td
          th:text="${#temporals.format(visit.time, 'yyyy-MM-dd HH:00')}" /></td>
    </tr>
  </table>

  <form th:object="${visit}" class="form-horizontal" method="post">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="visitId" th:value="${visit.id}" />
        <button class="btn btn-default" type="submit">Cancel Appointment</button>
      </div>
    </div>
  </form>

</body>
</html>
